{
	email {$CADDY_EMAIL}
}

{$SITE_WWW_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$KUMA_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy uptime-kuma:3001
}

{$SITE_DOMAIN} {
	encode zstd gzip

	request_body {
		max_size {$CADDY_MAX_UPLOAD_SIZE}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	@wpAdminNoSlash path /wp-admin
	redir @wpAdminNoSlash /wp-admin/ 308

	@wordpressRestQuery query rest_route=*
	handle @wordpressRestQuery {
		reverse_proxy wordpress:80 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
		}
	}

	@wordpress path /wp-admin* /wp-login.php /wp-json* /wp-content* /wp-includes* /wp-cron.php /wp-comments-post.php /wp-*.php /index.php /xmlrpc.php
	handle @wordpress {
		reverse_proxy wordpress:80 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-Host {host}
		}
	}

	handle {
		reverse_proxy app:3000
	}
}
